.bg-1 {
  height: 300px;
}

.login-content {
  width: 480px;
  position: absolute;
  top: -150px;
  left: -80px;
}

.jumbotron {
  width: 100%;
  background: transparent;
}

.attach-body {
  position: relative;
  width: 350px;
  height: 400px;
}

.resend {
  color: rgb(2, 129, 108);
}

.resend:hover {
  text-decoration: underline;
  cursor: pointer;
}

.resend:focus {
  text-decoration: underline;
  cursor: pointer;
}
