.error {
  height: 50px;
}

.xl-icon {
  font-size: 10rem;
  font-weight: 300;
  color: darkcyan;
}

.xl-font {
  font-size: 4rem;
  font-weight: 300;
}

.bg-1{
  height: 300px;
}

.login-content {
  width: 480px;
  position: absolute;
  top: -150px;
  left: -80px;
}

.jumbotron{
  width: 100%;
  background: transparent;
}

.attach-body{
  position: relative;
  width: 350px;
  height: 400px;
}