<div class="shadow form-min-height ml-3 mr-3 mt-1 pb-5">
  <div class="row p-1" style="background-color: #dddddd">
    <div class="col-md-6">
      <span style="font-weight: bold; font-size: 14px; line-height: 35px;">Expense Details</span>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-save" routerLink="/admin/incomes-expenses/expenses">
        <mat-icon>keyboard_arrow_left</mat-icon>&nbsp;Back
      </button>
      <button class="btn btn-cancel" (click)="delete()">
        <mat-icon>clear</mat-icon>&nbsp;Delete
      </button>
      <button class="btn btn-edit" (click)="edit()">
        <mat-icon>edit</mat-icon>&nbsp;Edit
      </button>
      <button class="btn btn-save" [routerLink]="['/admin/incomes-expenses/expenses/add']">
        <mat-icon>add</mat-icon>&nbsp;New Admission
      </button>
    </div>
  </div>
  <div class="row p-1" style="background-color: #f07a7a;color: #ffffff" *ngIf="errorMessage">
    <div class="col">
      <span>{{errorMessage}}</span>
    </div>
  </div>

  <div [ngClass]="['pt-1','pr-5','pl-5']" *ngIf="expense">

    <div class="row pt-3">

      <div class="col-md-12">
        <p style="font-weight: bold; font-size: 14px;">Expense Info</p>
      </div>
      <div class="col-md-4">
        <p>Reference No. : {{expense.refNo}}</p>
      </div>
      <div class="col-md-4">
        <p>Amount : {{expense.amount}}</p>
      </div>
      <div class="col-md-4">
        <p>Expense Type : {{expense.expenseType}}</p>
      </div>

      <div class="col-md-4">
        <p>Expense Details : {{expense.expenseDetails}}</p>
      </div>
      <div class="col-md-4">
        <p>Expense Date : {{expense.comments}}</p>
      </div>
      <div class="col-md-4">
        <p>Comments : {{expense.expenseDate}}</p>
      </div>
    </div>
  </div>

</div>